* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
#root {
  background: #0099cc;
  height: 100vh;
}

input,
button,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 100%;
  height: 40px;
  font-size: medium;
  color: #1f1f1f;
  border: 1px solid #0099cc;
  border-radius: 8px;
  padding: 0 18px;
}
.pagination .page-item {
  background: transparent !important;
}
.page-link {
  background: transparent !important;
  color: #000 !important;
}

.grupo-input {
  display: flex;
  gap: 5px;
}

.form {
  max-width: 600px !important;
  margin: 2% auto;
  background-color: #ccc;
  border-radius: 5px;
  padding: 5%;
}
input,
select,
textarea {
  margin: 2% 0 !important;
  width: 100%;
  border-radius: 5px;
}

textarea {
  padding: 2%;
}

.botoes {
  display: flex;
}

.botoes a {
  color: #fff !important;
  text-decoration: none !important;
}
button {
  margin: 0 2% !important;
}

.info {
  font-size: 9px;
  color: "#666";
}
